@model wasaRms.Models.tblResourceTypeParameter

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>tblResourceTypeParameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblCompany.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCompany.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblParameter.parameterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblParameter.parameterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblResourceType.resourceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblResourceType.resourceTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resourceTypeParameterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
