@model IEnumerable<wasaRms.Models.tblUser>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userLoginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userConfirmEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCompany.companyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userLoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userConfirmEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCompany.companyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
