﻿@using System.Data;
@using System.Data.SqlClient;
@using Newtonsoft.Json;
@model IEnumerable<StorageTankTableData>
@{
    ViewBag.Title = "Storage Tank | Energy Monitoring Report";
}
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<style>
    tr.odd td:first-child,
    tr.even td:first-child {
        padding-left: 4em;
    }

    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }

    .dtrg-level-0 {
        background-color: #000000 !important;
        color: #ffffff !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .dtrg-level-1 {
        background-color: #bababa !important;
        font-weight: bold !important;
        text-align: left !important;
    }
</style>
<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title" style="width:100%; padding:10px 0;">
                                    <h1 style="color:white !important;">
                                        Overview of the Storage Tanks
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content from-data ">
                                                <div class="tab-pane active">
                                                    <div class="portlet box blue">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa icon-settings"></i>
                                                                <span style="font-family:Open Sans,sans-serif;">Pumps Working Chart</span>
                                                            </div>
                                                        </div>
                                                        @using (Html.BeginForm("EnergyMonitoringReport", "StorageTank"))
                                                        {
                                                            <div class="portlet-body form">
                                                                <div class="form-body" style="background-color: white;">
                                                                    <div class="row" style="padding:20px">
                                                                        <center>
                                                                            <div class="col-md-4">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Location Name:</label>
                                                                                    @if (ViewBag.SelectedResource != null)
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList, ViewBag.SelectedResource), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Date:</label>
                                                                                    @if (ViewBag.dateFrom != null)
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@ViewBag.dateFrom" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Time:</label>
                                                                                    @if (ViewBag.timeFrom != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeFrom.ToString();
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>12:00 AM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeFrom" id="timeFromInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option selected="selected">12:00 AM</option>
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @*
                                                                                <div class="col-md-1">
                                                                                   <label class="form-control" style="border:0px">To</label>
                                                                                </div>
                                                                            *@
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Date:</label>
                                                                                    @if (ViewBag.dateTo != null)
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@ViewBag.dateTo" class="form-control date-picker" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" class="form-control date-picker" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Time:</label>
                                                                                    @if (ViewBag.timeTo != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeTo.ToString();
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                            <option value="11:59 PM" @if (abc == "11:59 PM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeTo" id="timeToInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                            <option selected="selected">11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 ">
                                                                                <div class="form-actions right">
                                                                                    <button type="submit" id="submit" class="btn btn-danger">
                                                                                        Update
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- END EXAMPLE TABLE PORTLET-->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content from-data ">
                                                <div class="tab-pane active">
                                                    <div class="widget-content">
                                                        <div>
                                                            <center>
                                                                <div id="chartContainer1" style="width: 95%; height: 300px"></div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content from-data ">
                                                <div class="tab-pane active">
                                                    <div class="widget-content">
                                                        <div>
                                                            <center>
                                                                <div id="chartContainer2" style="width: 95%; height: 500px"></div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light ">
                                        <div class="portlet-body">


                                            <!-- DataTable Row -->

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                    <div class="portlet light bordered">
                                                        <div class="portlet-title">
                                                            <div class="caption font-dark">
                                                                <i class="icon-docs font-dark"></i>
                                                                <span class="caption-subject bold uppercase">Energy Monitoring Report</span>
                                                            </div>
                                                            <div class="tools"> </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <table class="table table-striped table-bordered table-hover" id="sample_1" style="width:100%; text-align:center">
                                                                <thead>
                                                                    <tr style="background-color: #a8c9cd;">
                                                                        <th>Sr. No.</th>
                                                                        <th>Location</th>
                                                                        <th>Pump 1 Working Hours</th>
                                                                        <th>Pump 2 Working Hours</th>
                                                                        <th>Pump 3 Working Hours</th>
                                                                        <th>Pump 4 Working Hours</th>
                                                                        <th>Avg Phase V</th>
                                                                        <th>Avg Line V</th>
                                                                        <th>Avg. A</th>
                                                                        <th>Freq.</th>
                                                                        <th>PF</th>
                                                                        <th>Power KVA)</th>
                                                                        <th>Power (KVAR)</th>
                                                                        <th>Power (KW)</th>
                                                                        <th>Units Consumed</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.SpellTimeArray.Count > 0)
                                                                        {

                                                                            double pff = 0;
                                                                            double i1s = 0;
                                                                            double i2s = 0;
                                                                            double i3s = 0;
                                                                            double pkvas = 0;
                                                                            double pkvars = 0;
                                                                            double pkws = 0;
                                                                            int counter = 0;
                                                                            double v1ns = 0;
                                                                            double v2ns = 0;
                                                                            double v3ns = 0;
                                                                            double v12s = 0;
                                                                            double v13s = 0;
                                                                            double v23s = 0;
                                                                            double freqs = 0;
                                                                            for (int i = 0; i < item.pumpStatus1.Count; i++)
                                                                            {
                                                                                if (item.pumpStatus1[i] + item.P3Status[i] + item.pumpStatus2[i] + item.P4Status[i] > 0)
                                                                                {
                                                                                    pff += item.PF[i];
                                                                                    i1s += item.I1A[i];
                                                                                    i2s += item.I2A[i];
                                                                                    i3s += item.I3A[i];
                                                                                    pkvas += item.VA_kva[i];
                                                                                    pkvars += item.VAR_kvar[i];
                                                                                    pkws += item.W_kwatt[i];
                                                                                    v1ns += item.V1N_V[i];
                                                                                    v2ns += item.V2N_V[i];
                                                                                    v3ns += item.V3N_V[i];

                                                                                    v12s += item.V12_V[i];
                                                                                    v13s += item.V13_V[i];
                                                                                    v23s += item.V23_V[i];

                                                                                    freqs += item.FreqHz[i];
                                                                                    counter++;
                                                                                }
                                                                                else
                                                                                {

                                                                                }
                                                                            }
                                                                            if (counter == 0)
                                                                            {
                                                                                counter = 1;
                                                                            }
                                                                            pff = Math.Round((pff / counter), 2);
                                                                            i1s = Math.Round((i1s / counter), 2);
                                                                            i2s = Math.Round((i2s / counter), 2);
                                                                            i3s = Math.Round((i3s / counter), 2);
                                                                            pkvas = Math.Round((pkvas / counter), 2);
                                                                            pkvars = Math.Round((pkvars / counter), 2);
                                                                            pkws = Math.Round((pkws / counter), 2);
                                                                            double averageis = Math.Round(((i1s + i2s + i3s) / 3), 2);

                                                                            v1ns = Math.Round((v1ns / counter), 2);
                                                                            v2ns = Math.Round((v2ns / counter), 2);
                                                                            v3ns = Math.Round((v3ns / counter), 2);

                                                                            v12s = Math.Round((v12s / counter), 2);
                                                                            v13s = Math.Round((v13s / counter), 2);
                                                                            v23s = Math.Round((v23s / counter), 2);

                                                                            freqs = Math.Round((freqs / counter), 2);
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>@item.locationName</td>
                                                                        <td>@item.workingHoursTodayP1</td>
                                                                        <td>@item.workingHoursTodayP2</td>
                                                                        <td>@item.workingHoursTodayP3</td>
                                                                        <td>@item.workingHoursTodayP4</td>
                                                                        <td>@(Math.Round(((v1ns + v2ns + v3ns) / 3), 2))</td>
                                                                        <td>@(Math.Round(((v12s + v13s + v23s) / 3), 2))</td>
                                                                        <td>@averageis</td>
                                                                        <td>@freqs</td>
                                                                        <td>@pff</td>
                                                                        <td>@pkvas</td>
                                                                        <td>@pkvars</td>
                                                                        <td>@pkws</td>
                                                                        <td>@ViewData["Units"].ToString()</td>
                                                                    </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td>Lawrence Road Storage Tank</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- END EXAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>*@

                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
@section scripts {
    <section class="scripts">

        <script type="text/javascript">
            window.onload = function ()
            {
                var jsonObj = @Html.Raw(ViewData["amChartData"]);
                am4core.ready(function () {
                    am4core.useTheme(am4themes_animated);
                    var chart = am4core.create("chartContainer1", am4charts.XYChart);
                    chart.paddingLeft = 30;
                    let title = chart.titles.create();
                    title.text = "All Pumps Working Timeline";
                    title.fontSize = 25;
                    title.marginBottom = 10;
                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.baseInterval = {
                        "timeUnit": "minute",
                        "count": 1
                    };
                    dateAxis.dateFormats.setKey('hour', 'hh:mm a');
                    dateAxis.tooltipDateFormat = " d-MM-yyyy hh:mm:ss a";
                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;
                    valueAxis.renderer.labels.template.disabled = true;
                    //valueAxis.min = -0.2;
                    //valueAxis.max = 1.2;

                    if (jsonObj.pumpStatus1.length === 0) { }
                    else
                    {
                        var series1 = chart.series.push(new am4charts.LineSeries());
                        var series2 = chart.series.push(new am4charts.LineSeries());
                        var series3 = chart.series.push(new am4charts.LineSeries());
                        var series4 = chart.series.push(new am4charts.LineSeries());
                        var data1 = [];
                        var data2 = [];
                        var data3 = [];
                        var data4 = [];
                        //console.log(jsonObj[j].locationName);
                        for (var i = 0; i < jsonObj.SpellTimeArray.length; i++) {
                            var Thedate = jsonObj.SpellTimeArray[i];
                            var changeDate = moment(Thedate, 'DD/MM/YYYY HH:mm:ss A').format("MM/DD/YYYY HH:mm:ss");
                            var dateObj = new Date((changeDate));
                            var valuep1 = jsonObj.pumpStatus1[i];
                            var valuep2 = jsonObj.pumpStatus2[i];
                            var valuep3 = jsonObj.P3Status[i];
                            var valuep4 = jsonObj.P4Status[i];

                            var location = jsonObj.locationName;

                            if (jsonObj.pumpStatus1[i] == 0) {
                                data1.push({ location1: location, paramameter: 'Pump No. 1 Status', date1: dateObj, value1: valuep1, status1: 'OFF' });
                            }
                            else {
                                data1.push({ location1: location, paramameter: 'Pump No. 1 Status', date1: dateObj, value1: valuep1, status1: 'ON' });
                            }

                            if (jsonObj.pumpStatus2[i] == 0) {
                                data2.push({ location2: location, paramameter: 'Pump No. 2 Status', date2: dateObj, value2: valuep2, status2: 'OFF' });
                            }
                            else {
                                data2.push({ location2: location, paramameter: 'Pump No. 2 Status', date2: dateObj, value2: valuep2, status2: 'ON' });
                            }

                            if (jsonObj.P3Status[i] == 0) {
                                data3.push({ location3: location, paramameter: 'Pump No. 3 Status', date3: dateObj, value3: valuep3, status3: 'OFF' });
                            }
                            else {
                                data3.push({ location3: location, paramameter: 'Pump No. 3 Status', date3: dateObj, value3: valuep3, status3: 'ON' });
                            }

                            if (jsonObj.P4Status[i] == 0) {
                                data4.push({ location4: location, paramameter: 'Pump No. 4 Status', date4: dateObj, value4: valuep4, status4: 'OFF' });
                            }
                            else {
                                data4.push({ location4: location, paramameter: 'Pump No. 4 Status', date4: dateObj, value4: valuep4, status4: 'ON' });
                            }
                        }
                        series1.data = data1;
                        series1.dataFields.dateX = "date1";
                        series1.dataFields.valueY = "value1";
                        series1.dataFields.status1 = "status1";
                        series1.dataFields.location = "location1";
                        series1.tooltipText = " Pump No. 1 Status: [bold]{status1}[/] ";
                        series1.name = 'Pump No. 1';
                        series1.fillOpacity = 0.3;


                        series2.data = data2;
                        series2.dataFields.dateX = "date2";
                        series2.dataFields.valueY = "value2";
                        series2.dataFields.status2 = "status2";
                        series2.dataFields.location = "location2";
                        series2.tooltipText = " Pump No. 2 Status: [bold]{status2}[/] ";
                        series2.name = 'Pump No. 2';
                        series2.fillOpacity = 0.3;

                        series3.data = data3;
                        series3.dataFields.dateX = "date3";
                        series3.dataFields.valueY = "value3";
                        series3.dataFields.status3 = "status3";
                        series3.dataFields.location = "location3";
                        series3.tooltipText = " Pump No. 3 Status: [bold]{status3}[/] ";
                        series3.name = 'Pump No. 3';
                        series3.fillOpacity = 0.3;

                        series4.data = data4;
                        series4.dataFields.dateX = "date4";
                        series4.dataFields.valueY = "value4";
                        series4.dataFields.status4 = "status4";
                        series4.dataFields.location = "location4";
                        series4.tooltipText = " Pump No. 4 Status: [bold]{status4}[/] ";
                        series4.name = 'Pump No. 4';
                        series4.fillOpacity = 0.3;

                    }
                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.lineY.opacity = 0;

                    chart.legend = new am4charts.Legend();
                });




                var chart1 = am4core.create("chartContainer2", am4charts.XYChart3D);
                //chart.scrollbarX = new am4core.Scrollbar();

                // Add data
                chart1.angle = 35;
                chart1.data = @Html.Raw(ViewData["amChartData1"]);
                console.log(chart1.data);
                chart1.paddingTop = 50;
                var title = chart1.titles.create();
                title.text = "All Energy Parameters Data";
                title.fontSize = 25;
                title.marginBottom = 10;
                // Create axes
                var categoryAxis1 = chart1.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis1.dataFields.category = "category";
                //categoryAxis1.renderer.grid.template.location = 0;
                categoryAxis1.renderer.minGridDistance = 30;
                //categoryAxis1.renderer.labels.template.rotation = -90;
                categoryAxis1.renderer.inside = true;
                categoryAxis1.renderer.labels.template.valign = "top";
                categoryAxis1.tooltip.disabled = true;
                categoryAxis1.renderer.grid.template.strokeWidth = 0;
                categoryAxis1.renderer.labels.template.fontSize = 0;
                var valueAxis1 = chart1.yAxes.push(new am4charts.ValueAxis());
                valueAxis1.renderer.grid.template.strokeWidth = 0;
                valueAxis1.min = 0;
                valueAxis1.extraMax = 0.05;
                // Create series
                var series1 = chart1.series.push(new am4charts.ConeSeries());
                series1.sequencedInterpolation = true;
                series1.dataFields.valueY = "value";
                series1.dataFields.tooltipText = "tooltip";
                series1.dataFields.categoryX = "category";
                series1.columns.template.strokeWidth = 0;

                series1.columns.template.tooltipText = "{categoryX}: {tooltipText}";
                series1.columns.template.tooltipY = 0;
                series1.tooltip.pointerOrientation = "vertical";

                series1.columns.template.adapter.add("fill", function (fill, target) {
                    return chart1.colors.getIndex(target.dataItem.index);
                })

                var legend1 = new am4charts.Legend();
                legend1.parent = chart1.chartContainer;
                //legend1.itemContainers.template.togglable = false;
                legend1.marginTop = 20;
                legend1.fontSize = 10;
                //legend1.labels.template.rotation = -45;

                series1.events.on("ready", function (ev) {
                    var legenddata = [];
                    series1.columns.each(function (column) {
                        legenddata.push({
                            name: column.dataItem.categoryX,
                            fill: column.fill,
                            columnDataItem: column.dataItem
                        });
                    });
                    legend1.data = legenddata;
                });

                legend1.itemContainers.template.events.on("hit", function (ev) {
                    //console.log("Clicked on ", ev.target.dataItem.className);
                    if (!ev.target.isActive) {
                        ev.target.dataItem.dataContext.columnDataItem.hide();
                    }
                    else {
                        ev.target.dataItem.dataContext.columnDataItem.show();
                    }
                });

                legend1.itemContainers.template.events.on("over", function (ev) {
                    ev.target.dataItem.dataContext.columnDataItem.column.isHover = true;
                    ev.target.dataItem.dataContext.columnDataItem.column.showTooltip();
                });

                legend1.itemContainers.template.events.on("out", function (ev) {
                    ev.target.dataItem.dataContext.columnDataItem.column.isHover = false;
                    ev.target.dataItem.dataContext.columnDataItem.column.hideTooltip();
                });



            }
        </script>
    </section>
}
