﻿@using System.Data;
@using System.Data.SqlClient;
@using Newtonsoft.Json;
@model IEnumerable<StorageParameterChartClass>

<style>
    .chartdiv {
        height: 500px;
    }

    #eee;
    float: left;
    }

    #legend1 {
        width: 330px;
        height: 450px;
        border: 1px solid #eee;
        margin-left: 10px;
        float: left;
        text-align: left;
    }

        #legend1 .legend1-item {
            margin: 10px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            width: 330px !important;
            text-align: left;
        }

            #legend1 .legend1-item .legend1-value {
                font-size: 11px;
                font-weight: normal;
                margin-left: 10px;
            }

            #legend1 .legend1-item .legend1-marker {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                margin-right: 10px;
            }

            #legend1 .legend1-item.disabled .legend1-marker {
                opacity: 0.5;
                background: #ddd;
            }



    #legend2 {
        width: 250px;
        height: 450px;
        border: none;
        margin-left: 10px;
        text-align: center;
    }

        #legend2 .legend2-item {
            margin: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

            #legend2 .legend2-item .legend2-value {
                font-size: 12px;
                font-weight: normal;
                margin-left: 22px;
            }

            #legend2 .legend2-item .legend2-marker {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                margin-right: 10px;
            }

            #legend2 .legend2-item.disabled .legend2-marker {
                opacity: 0.5;
                background: #ddd;
            }


    #legend3 {
        width: 250px;
        height: 450px;
        border: none;
        margin-left: 10px;
        text-align: center;
    }

        #legend3 .legend3-item {
            margin: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

            #legend3 .legend3-item .legend3-value {
                font-size: 12px;
                font-weight: normal;
                margin-left: 22px;
            }

            #legend3 .legend3-item .legend3-marker {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                margin-right: 10px;
            }

            #legend3 .legend3-item.disabled .legend3-marker {
                opacity: 0.5;
                background: #ddd;
            }


    #legend4 {
        width: 260px;
        height: 450px;
        border: none;
        margin-left: 10px;
        text-align: center;
    }

        #legend4 .legend4-item {
            margin: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

            #legend4 .legend4-item .legend4-value {
                font-size: 12px;
                font-weight: normal;
                margin-left: 22px;
            }

            #legend4 .legend4-item .legend4-marker {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                margin-right: 10px;
            }

            #legend4 .legend4-item.disabled .legend4-marker {
                opacity: 0.5;
                background: #ddd;
            }

    #legend5 {
        width: 250px;
        height: 450px;
        border: none;
        margin-left: 10px;
        float: left;
        text-align: left;
    }

        #legend5 .legend5-item {
            margin: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            width: 330px;
        }

            #legend5 .legend5-item .legend5-value {
                font-size: 12px;
                font-weight: normal;
                margin-left: 22px;
            }

            #legend5 .legend5-item .legend5-marker {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                margin-right: 10px;
            }

            #legend5 .legend5-item.disabled .legend5-marker {
                opacity: 0.5;
                background: #ddd;
            }
</style>

@{
    ViewBag.Title = "Storage Tank | Parameterwise Report";
}
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title" style="width:100%; padding:10px 0;">
                                    <h1 style="color:white !important;">
                                        Parameterwise Data from Storage Tanks
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content from-data ">
                                                <div class="tab-pane active">
                                                    <div class="portlet box blue">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa icon-settings"></i>
                                                                <span style="font-family:Open Sans,sans-serif;">Parameter Chart</span>
                                                            </div>
                                                        </div>
                                                        @using (Html.BeginForm("ParameterizedData", "StorageTank"))
                                                        {
                                                            <div class="portlet-body form">
                                                                <div class="form-body" style="background-color: white;">
                                                                    <div class="row" style="padding:20px">
                                                                        <center>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Location Name:</label>
                                                                                    @if (ViewBag.SelectedResource != null)
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList, ViewBag.SelectedResource), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Parameter:</label>
                                                                                    @if (ViewBag.SelectedParameter != null)
                                                                                    {
                                                                                        @Html.DropDownList("parameter", new SelectList(ViewBag.ParameterList, ViewBag.SelectedParameter), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @Html.DropDownList("parameter", new SelectList(ViewBag.ParameterList), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Date:</label>
                                                                                    @if (ViewBag.dateFrom != null)
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@ViewBag.dateFrom" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Time:</label>
                                                                                    @if (ViewBag.timeFrom != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeFrom.ToString();
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>12:00 AM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeFrom" id="timeFromInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option selected="selected">12:00 AM</option>
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @*
                                                                                <div class="col-md-1">
                                                                                   <label class="form-control" style="border:0px">To</label>
                                                                                </div>
                                                                            *@
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Date:</label>
                                                                                    @if (ViewBag.dateTo != null)
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@ViewBag.dateTo" class="form-control date-picker" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" class="form-control date-picker" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Time:</label>
                                                                                    @if (ViewBag.timeTo != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeTo.ToString();
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                            <option value="11:59 PM" @if (abc == "11:59 PM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeTo" id="timeToInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                            <option selected="selected">11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 ">
                                                                                <div class="form-actions right">
                                                                                    <button type="submit" id="submit" class="btn btn-danger">
                                                                                        Update
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- END EXAMPLE TABLE PORTLET-->
                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div>
                                                <center>
                                                    <div id="chartContainer1" style="width: 95%; height: 500px"></div>
                                                </center>
                                            </div>
                                            <div style="opacity: 0.99; margin: 0px !important; background: white; min-height: 525px !important;">
                                                <center>
                                                    @if (Model.First().parameterName == "Pump No. 1 Status" ||
                                                        Model.First().parameterName == "Pump No. 2 Status" ||
                                                        Model.First().parameterName == "Pump No. 3 Status" ||
                                                        Model.First().parameterName == "Pump No. 4 Status" ||
                                                        Model.First().parameterName == "Pump No. 1 Mode" ||
                                                        Model.First().parameterName == "Pump No. 2 Mode" ||
                                                        Model.First().parameterName == "Pump No. 3 Mode" ||
                                                        Model.First().parameterName == "Pump No. 4 Mode")
                                                    {


                                                        <div class="col-md-4 col-sm-12 col-lg-4 chartdiv">

                                                            <div id="chartdiv1" style="display:block !important; height:300px !important; width: auto"></div>
                                                            <div id="legend1" style="display:block !important; height:100px !important"></div>
                                                        </div>

                                                        <div class="col-md-4 col-sm-12 col-lg-4 chartdiv">

                                                            <div id="chartdiv2" style="display:block !important; height:300px !important; width: auto"></div>
                                                            <div id="legend2" style="display:block !important; height:100px !important"></div>
                                                        </div>

                                                        <div class="col-md-4 col-sm-12 col-lg-4 chartdiv">

                                                            <div id="chartdiv3" style="display:block !important; height:300px !important; width: auto"></div>
                                                            <div id="legend3" style="display:block !important; height:100px !important"></div>
                                                        </div>

                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv5" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv6" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>

                                                    }
                                                    else if (Model.First().parameterName == "Line Voltage (V12)" ||
                                                        Model.First().parameterName == "Line Voltage (V13)" ||
                                                        Model.First().parameterName == "Line Voltage (V23)" ||
                                                        Model.First().parameterName == "Phase Voltage (V1N)" ||
                                                        Model.First().parameterName == "Phase Voltage (V2N)" ||
                                                        Model.First().parameterName == "Phase Voltage (V3N)" ||
                                                        Model.First().parameterName == "Current (I1)" ||
                                                        Model.First().parameterName == "Current (I2)" ||
                                                        Model.First().parameterName == "Current (I3)" ||
                                                        Model.First().parameterName == "Power Factor (PF)" ||
                                                        Model.First().parameterName == "Power (KVA)" ||
                                                        Model.First().parameterName == "Power (KW)" ||
                                                        Model.First().parameterName == "Power (KVAR)" ||
                                                        Model.First().parameterName == "Power (VA-SM)" ||
                                                        Model.First().parameterName == "V1 Total Harmonics Distortion (%)" ||
                                                        Model.First().parameterName == "V2 Total Harmonics Distortion (%)" ||
                                                        Model.First().parameterName == "V3 Total Harmonics Distortion (%)")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-8 col-sm-12 col-lg-8 chartdiv">
                                                            <div id="chartdiv5" style="display:block !important; height:400px !important; width: auto"></div>
                                                            <div id="legend5" style="display:block !important; height:100px !important; float: none !important"></div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4 chartdiv" id="chartdiv6"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>
                                                    }
                                                    else if (Model.First().parameterName == "Voltage Trip" ||
                                                        Model.First().parameterName == "Current Trip" ||
                                                        Model.First().parameterName == "Priming Level" ||
                                                        Model.First().parameterName == "Chlorine Level" ||
                                                        Model.First().parameterName == "Indoor Lights" ||
                                                        Model.First().parameterName == "Outdoor Lights" ||
                                                        Model.First().parameterName == "Exhaust Fan")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12 chartdiv">

                                                            <div id="chartdiv5" style="display:block !important; height:400px !important; width: auto"></div>
                                                            <div id="legend5" style="display:block !important; height:100px !important; float: none !important"></div>
                                                        </div>

                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv6" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>
                                                    }
                                                    else if (Model.First().parameterName == "Vibration Velocity in (mm/s)")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv5" style="display:none !important"></div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12 chartdiv" id="chartdiv6"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>
                                                    }
                                                    else if (Model.First().parameterName == "Vibration Acceleration in (m/s2)")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv5" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv6" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12 chartdiv" id="chartdiv8"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>
                                                    }
                                                    else if (Model.First().parameterName == "Vibration Displacement in (um)")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv5" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv6" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12 chartdiv" id="chartdiv9"></div>
                                                    }
                                                    else if (Model.First().parameterName == "Frequency (Hz)" || Model.First().parameterName == "Tank Level (ft)")
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv5" style="display:none !important"></div>
                                                        <div class="col-md-6 col-sm-12 col-lg-6 chartdiv" id="chartdiv6" style="display:none !important"></div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12 chartdiv" id="chartdiv7"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8" style="display:none !important"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9" style="display:none !important"></div>

                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv1"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv2"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv3"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv4"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv5"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv6"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv7"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv8"></div>
                                                        <div class="col-md-3 col-sm-12 col-lg-3 chartdiv" id="chartdiv9"></div>
                                                    }
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                        
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="../assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
@section scripts {
    <section class="scripts">

        <script type="text/javascript">
            window.onload = function () {
                @Html.Raw(ViewData["chartData"])
                chart1.render();
                function toogleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }
                    chart1.render();
                }
            }
        </script>
    </section>
}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script>
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart1 = am4core.create("chartdiv1", am4charts.PieChart);
        var chart2 = am4core.create("chartdiv2", am4charts.PieChart);
        var chart3 = am4core.create("chartdiv3", am4charts.PieChart);
        var chart4 = am4core.create("chartdiv4", am4charts.PieChart);

        var chart5 = am4core.create("chartdiv5", am4charts.PieChart);
        var chart6 = am4core.create("chartdiv6", am4charts.PieChart);
        var chart7 = am4core.create("chartdiv7", am4charts.PieChart);

        var chart8 = am4core.create("chartdiv8", am4charts.PieChart);
        var chart9 = am4core.create("chartdiv9", am4charts.PieChart);

		chart1.data = [{
		"mode": "Working Hours",
		"Hours": @Model.First().workingInHours
		}, {
		"mode": "Non-Working Hours",
		"Hours": @Model.First().nonWorkingInHours
		}, {
		"mode": "Total Hours",
		"Hours": @Model.First().totalHours
		}];


		var pieSeries1 = chart1.series.push(new am4charts.PieSeries());
		pieSeries1.dataFields.value = "Hours";
		pieSeries1.dataFields.category = "mode";
		//pieSeries1.labels.template.disabled = true;
		pieSeries1.alignLabels = false;
        pieSeries1.labels.template.bent = true;
        pieSeries1.labels.template.radius = 3;
        pieSeries1.labels.template.padding(0, 0, 0, 0);
		//pieSeries2.ticks.template.disabled = true;
		pieSeries1.labels.template.text = "{category}: {value.value}";
        pieSeries1.slices.template.tooltipText = "{category}: {value.value}";
		chart1.innerRadius = am4core.percent(30);

		// Create custom legend
		chart1.events.on("ready", function(event) {
		  // populate our custom legend when chart renders
		  chart1.customLegend = document.getElementById('legend1');
		  pieSeries1.dataItems.each(function(row, i) {
			var color = chart1.colors.getIndex(i);
			var percent = Math.round(row.values.value.percent * 100) / 100;
			var value = row.value;
			legend1.innerHTML += '<div class="legend1-item" id="legend1-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');" style="color: ' + color + ';"><div class="legend1-marker" style="background: ' + color + '"></div>' + row.category + ': ' + hoursToTime(value) + ' </div>';
		  });
		});

		function toggleSlice(item) {
		  var slice = pieSeries.dataItems.getIndex(item);
		  if (slice.visible) {
			slice.hide();
		  }
		  else {
			slice.show();
		  }
		}

		function hoverSlice(item) {
		  var slice = pieSeries.slices.getIndex(item);
		  slice.isHover = true;
		}

		function blurSlice(item) {
		  var slice = pieSeries.slices.getIndex(item);
		  slice.isHover = false;
		}
		function hoursToTime(num) {
            //console.log(num);
            num = num * 60;
            var hours = Math.floor(num / 60);
            var minutes = Math.round(num % 60);
            return hours + " Hours, " + minutes + " Minutes";
        }


		chart2.data = [{
            "mode": "Working Hours in Manual",
            "Hours": @Model.First().workingInHoursManual
        }, {
            "mode": "Total Hours",
            "Hours": @Model.First().totalHours
        }];


		var pieSeries2 = chart2.series.push(new am4charts.PieSeries());
		pieSeries2.dataFields.value = "Hours";
		pieSeries2.dataFields.category = "mode";
		//pieSeries1.labels.template.disabled = true;
		pieSeries2.alignLabels = false;
        pieSeries2.labels.template.bent = true;
        pieSeries2.labels.template.radius = 3;
        pieSeries2.labels.template.padding(0, 0, 0, 0);
		//pieSeries2.ticks.template.disabled = true;
		pieSeries2.labels.template.text = "{category}: {value.value}";
        pieSeries2.slices.template.tooltipText = "{category}: {value.value}";
		chart2.innerRadius = am4core.percent(30);

		// Create custom legend
		chart2.events.on("ready", function(event) {
		  // populate our custom legend when chart renders
		  chart2.customLegend = document.getElementById('legend1');
		  pieSeries2.dataItems.each(function(row, i) {
			var color = chart2.colors.getIndex(i);
			var percent = Math.round(row.values.value.percent * 100) / 100;
			var value = row.value;
			legend2.innerHTML += '<div class="legend2-item" id="legend2-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');" style="color: ' + color + ';"><div class="legend2-marker" style="background: ' + color + '"></div>' + row.category + '<div class="legend2-value">' + hoursToTime(value) + ' </div></div>';
		  });
		});


		chart3.data = [{
            "mode": "Working Hours in Auto",
            "Hours": @Model.First().workingInHoursRemote
        }, {
            "mode": "Total Hours",
            "Hours": @Model.First().totalHours
        }];


		var pieSeries3 = chart3.series.push(new am4charts.PieSeries());
		pieSeries3.dataFields.value = "Hours";
		pieSeries3.dataFields.category = "mode";
		//pieSeries1.labels.template.disabled = true;
		pieSeries3.alignLabels = false;
        pieSeries3.labels.template.bent = true;
        pieSeries3.labels.template.radius = 3;
        pieSeries3.labels.template.padding(0, 0, 0, 0);
		//pieSeries3.ticks.template.disabled = true;
		pieSeries3.labels.template.text = "{category}: {value.value}";
        pieSeries3.slices.template.tooltipText = "{category}: {value.value}";
		chart3.innerRadius = am4core.percent(30);

		// Create custom legend
		chart3.events.on("ready", function(event) {
		  // populate our custom legend when chart renders
		  chart3.customLegend = document.getElementById('legend1');
		  pieSeries3.dataItems.each(function(row, i) {
			var color = chart3.colors.getIndex(i);
			var percent = Math.round(row.values.value.percent * 100) / 100;
			var value = row.value;
			legend3.innerHTML += '<div class="legend3-item" id="legend3-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');" style="color: ' + color + ';"><div class="legend3-marker" style="background: ' + color + '"></div>' + row.category + '<div class="legend3-value">' + hoursToTime(value) + ' </div></div>';
		  });
		});


        chart4.data = [{
            "mode": "Working Hours in Scheduling",
            "Hours": @Model.First().workingInHoursScheduling
        }, {
            "mode": "Total Hours",
            "Hours": @Model.First().totalHours
        }];


		var pieSeries4 = chart4.series.push(new am4charts.PieSeries());
		pieSeries4.dataFields.value = "Hours";
		pieSeries4.dataFields.category = "mode";
		//pieSeries1.labels.template.disabled = true;
		pieSeries4.alignLabels = false;
        pieSeries4.labels.template.bent = true;
        pieSeries4.labels.template.radius = 3;
        pieSeries4.labels.template.padding(0, 0, 0, 0);
		//pieSeries4.ticks.template.disabled = true;
		pieSeries4.labels.template.text = "{category}: {value.value}";
        pieSeries4.slices.template.tooltipText = "{category}: {value.value}";
		chart4.innerRadius = am4core.percent(30);

		// Create custom legend
		chart4.events.on("ready", function(event) {
		  // populate our custom legend when chart renders
		  chart4.customLegend = document.getElementById('legend1');
		  pieSeries4.dataItems.each(function(row, i) {
			var color = chart4.colors.getIndex(i);
			var percent = Math.round(row.values.value.percent * 100) / 100;
			var value = row.value;
			legend4.innerHTML += '<div class="legend4-item" id="legend4-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');" style="color: ' + color + ';"><div class="legend4-marker" style="background: ' + color + '"></div>' + row.category + '<div class="legend4-value">' + hoursToTime(value) + ' </div></div>';
		  });
		});


        @*chart5 = AmCharts.makeChart("chartdiv5", {
            "type": "pie",
            "theme": "light",
            "legend": {
                "position": "bottom",
                "marginBottom": 50,
                "marginLeft": 70,
                "autoMargins": false
            },
            "dataProvider": [{ "title": "Available Hours", "value": @Model.First().availableHours, "Color": "#67b7dc" }, { "title": "Non-Available Hours", "value": 8, "Color": "orange" }, { "title": "Total Hours", "value": @Model.First().totalHours, "Color": "green" }],
            "valueField": "value",
            "titleField": "title",
            "colorField": "Color",
            "balloon": {
                "fixedPosition": true
            },
            "export": {
                "enabled": true
            },
            "listeners": [{
                "event": "clickSlice",
                "method": function (e) {
                    var dp = e.dataItem.dataContext;
                    var title = dp.title;
                    if (title == "Operations") {
                        location.href = "https://wasacms.pitb.gov.pk/complaint/0/0/1";
                    } else if (title == "Revenue") {
                        location.href = "https://wasacms.pitb.gov.pk/complaint/0/0/2";
                    }
                }
            }]
        });*@

        chart5.data = [{
            "mode": "Available Hours",
            "Hours": @Model.First().availableHours
        }, {
            "mode": "Non-Available Hours",
            "Hours": @Model.First().nonAvailableHours
        }, {
		"mode": "Total Hours",
		"Hours": @Model.First().totalHours
		}];


		var pieSeries5 = chart5.series.push(new am4charts.PieSeries());
		pieSeries5.dataFields.value = "Hours";
		pieSeries5.dataFields.category = "mode";
		//pieSeries1.labels.template.disabled = true;
		//pieSeries5.alignLabels = false;
        //pieSeries5.labels.template.bent = true;
        //pieSeries5.labels.template.radius = 3;
        //pieSeries5.labels.template.padding(0, 0, 0, 0);
		//pieSeries5.ticks.template.disabled = true;
		pieSeries5.labels.template.text = "{category}: {value.value}";
        pieSeries5.slices.template.tooltipText = "{category}: {value.value}";
		chart5.innerRadius = am4core.percent(30);

		// Create custom legend
		chart5.events.on("ready", function(event) {
		  // populate our custom legend when chart renders
		  chart5.customLegend = document.getElementById('legend1');
		  pieSeries5.dataItems.each(function(row, i) {
			var color = chart5.colors.getIndex(i);
			var percent = Math.round(row.values.value.percent * 100) / 100;
			var value = row.value;
			legend5.innerHTML += '<div class="legend5-item" id="legend5-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');" style="color: ' + color + ';"><div class="legend5-marker" style="background: ' + color + '"></div>' + row.category + ':  ' + hoursToTime(value) + ' </div>';
		  });
		});


        var pieSeries6 = chart6.series.push(new am4charts.PieSeries());
        pieSeries6.dataFields.value = "Hours";
        pieSeries6.dataFields.category = "mode";

        // Let's cut a hole in our Pie chart the size of 30% the radius
        chart6.innerRadius = am4core.percent(30);


        // Put a thick white border around each Slice
        pieSeries6.slices.template.stroke = am4core.color("#fff");
        pieSeries6.slices.template.strokeWidth = 2;
        pieSeries6.slices.template.strokeOpacity = 1;
        pieSeries6.slices.template
            // change the cursor on hover to make it apparent the object can be interacted with
            .cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

        pieSeries6.alignLabels = false;
        pieSeries6.labels.template.bent = true;
        pieSeries6.labels.template.radius = 3;
        pieSeries6.labels.template.padding(0, 0, 0, 0);

        pieSeries6.ticks.template.disabled = true;

        pieSeries6.labels.template.text = "{category} {value.value}";
        pieSeries6.slices.template.tooltipText = "{category} {value.value}";

        // Create a base filter effect (as if it's not there) for the hover to return to
        var shadow6 = pieSeries6.slices.template.filters.push(new am4core.DropShadowFilter);
        shadow6.opacity = 0;

        // Create hover state
        var hoverState6 = pieSeries6.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

        // Slightly shift the shadow and make it more prominent on hover
        var hoverShadow6 = hoverState6.filters.push(new am4core.DropShadowFilter);
        hoverShadow6.opacity = 0.7;
        hoverShadow6.blur = 5;

        // Add a legend
        chart6.legend = new am4charts.Legend();

        chart6.legend.valueLabels.template.text = "{value.value}";

        chart6.data = [{
            "mode": "Average @Model.First().parameterName of Working Hours: ",
            "Hours": @Model.First().avgOfAvailableHours
        }, {
            "mode": "Average @Model.First().parameterName of Non-Working Hours: ",
            "Hours": @Model.First().avgOfNonAvailableHours
        }];


        var pieSeries7 = chart7.series.push(new am4charts.PieSeries());
        pieSeries7.dataFields.value = "Hours";
        pieSeries7.dataFields.category = "mode";

        // Let's cut a hole in our Pie chart the size of 30% the radius
        chart7.innerRadius = am4core.percent(30);


        // Put a thick white border around each Slice
        pieSeries7.slices.template.stroke = am4core.color("#fff");
        pieSeries7.slices.template.strokeWidth = 2;
        pieSeries7.slices.template.strokeOpacity = 1;
        pieSeries7.slices.template
            // change the cursor on hover to make it apparent the object can be interacted with
            .cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

        pieSeries7.alignLabels = false;
        pieSeries7.labels.template.bent = true;
        pieSeries7.labels.template.radius = 3;
        pieSeries7.labels.template.padding(0, 0, 0, 0);

        pieSeries7.ticks.template.disabled = true;

        pieSeries7.labels.template.text = "{category} {value.value}";
        pieSeries7.slices.template.tooltipText = "{category} {value.value}";

        // Create a base filter effect (as if it's not there) for the hover to return to
        var shadow7 = pieSeries7.slices.template.filters.push(new am4core.DropShadowFilter);
        shadow7.opacity = 0;

        // Create hover state
        var hoverState7 = pieSeries7.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

        // Slightly shift the shadow and make it more prominent on hover
        var hoverShadow7 = hoverState7.filters.push(new am4core.DropShadowFilter);
        hoverShadow7.opacity = 0.7;
        hoverShadow7.blur = 5;

        // Add a legend
        chart7.legend = new am4charts.Legend();

        chart7.legend.valueLabels.template.text = "{value.value}";

        chart7.data = [{
            "mode": "Minimun @Model.First().parameterName: ",
            "Hours": @Model.First().minValue
        }, {
            "mode": "Maximum @Model.First().parameterName: ",
            "Hours": @Model.First().maxValue
        }, {
            "mode": "Average @Model.First().parameterName: ",
            "Hours": @Model.First().avgVale
        }];


        var pieSeries8 = chart8.series.push(new am4charts.PieSeries());
        pieSeries8.dataFields.value = "Hours";
        pieSeries8.dataFields.category = "mode";

        // Let's cut a hole in our Pie chart the size of 30% the radius
        chart8.innerRadius = am4core.percent(30);


        // Put a thick white border around each Slice
        pieSeries8.slices.template.stroke = am4core.color("#fff");
        pieSeries8.slices.template.strokeWidth = 2;
        pieSeries8.slices.template.strokeOpacity = 1;
        pieSeries8.slices.template
            // change the cursor on hover to make it apparent the object can be interacted with
            .cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

        pieSeries8.alignLabels = false;
        pieSeries8.labels.template.bent = true;
        pieSeries8.labels.template.radius = 3;
        pieSeries8.labels.template.padding(0, 0, 0, 0);

        pieSeries8.ticks.template.disabled = true;

        pieSeries8.labels.template.text = "{category} {value.value}";
        pieSeries8.slices.template.tooltipText = "{category} {value.value}";

        // Create a base filter effect (as if it's not there) for the hover to return to
        var shadow8 = pieSeries8.slices.template.filters.push(new am4core.DropShadowFilter);
        shadow8.opacity = 0;

        // Create hover state
        var hoverState8 = pieSeries8.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

        // Slightly shift the shadow and make it more prominent on hover
        var hoverShadow8 = hoverState8.filters.push(new am4core.DropShadowFilter);
        hoverShadow8.opacity = 0.7;
        hoverShadow8.blur = 5;

        // Add a legend
        chart8.legend = new am4charts.Legend();

        chart8.legend.valueLabels.template.text = "{value.value}";

        chart8.data = [{
            "mode": "Average @Model.First().parameterName of Working Hours: ",
            "Hours": @Math.Round((Model.First().avgOfAvailableHours * 0.3), 2)
        }, {
            "mode": "Average @Model.First().parameterName of Non-Working Hours: ",
            "Hours": @Math.Round((Model.First().avgOfNonAvailableHours * 0.3), 2)
        }];


        var pieSeries9 = chart9.series.push(new am4charts.PieSeries());
        pieSeries9.dataFields.value = "Hours";
        pieSeries9.dataFields.category = "mode";

        // Let's cut a hole in our Pie chart the size of 30% the radius
        chart9.innerRadius = am4core.percent(30);


        // Put a thick white border around each Slice
        pieSeries9.slices.template.stroke = am4core.color("#fff");
        pieSeries9.slices.template.strokeWidth = 2;
        pieSeries9.slices.template.strokeOpacity = 1;
        pieSeries9.slices.template
            // change the cursor on hover to make it apparent the object can be interacted with
            .cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

        pieSeries9.alignLabels = false;
        pieSeries9.labels.template.bent = true;
        pieSeries9.labels.template.radius = 3;
        pieSeries9.labels.template.padding(0, 0, 0, 0);

        pieSeries9.ticks.template.disabled = true;

        pieSeries9.labels.template.text = "{category} {value.value}";
        pieSeries9.slices.template.tooltipText = "{category} {value.value}";

        // Create a base filter effect (as if it's not there) for the hover to return to
        var shadow9 = pieSeries9.slices.template.filters.push(new am4core.DropShadowFilter);
        shadow9.opacity = 0;

        // Create hover state
        var hoverState9 = pieSeries9.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

        // Slightly shift the shadow and make it more prominent on hover
        var hoverShadow9 = hoverState9.filters.push(new am4core.DropShadowFilter);
        hoverShadow9.opacity = 0.7;
        hoverShadow9.blur = 5;

        // Add a legend
        chart9.legend = new am4charts.Legend();

        chart9.legend.valueLabels.template.text = "{value.value}";

        chart9.data = [{
            "mode": "Average @Model.First().parameterName of Working Hours: ",
            "Hours": @Math.Round((Model.First().avgOfAvailableHours / 0.3), 2)
        }, {
            "mode": "Average @Model.First().parameterName of Non-Working Hours: ",
            "Hours": @Math.Round((Model.First().avgOfNonAvailableHours / 0.3), 2)
        }];





    }); // end am4core.ready()
</script>
