﻿@using System.Data;
@using System.Data.SqlClient;
@using Newtonsoft.Json;
@model IEnumerable<StorageTankTableData>
@{
    ViewBag.Title = "Storage Tank | Tank Storage Report";
}
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<style>
    tr.odd td:first-child,
    tr.even td:first-child {
        padding-left: 4em;
    }

    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }

    .dtrg-level-0 {
        background-color: #000000 !important;
        color: #ffffff !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .dtrg-level-1 {
        background-color: #bababa !important;
        font-weight: bold !important;
        text-align: left !important;
    }
</style>
<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title" style="width:100%; padding:10px 0;">
                                    <h1 style="color:white !important;">
                                        Overview of the Storage Tanks
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content from-data ">
                                                <div class="tab-pane active">
                                                    <div class="portlet box blue">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa icon-settings"></i>
                                                                <span style="font-family:Open Sans,sans-serif;">Tank Level Chart</span>
                                                            </div>
                                                        </div>
                                                        @using (Html.BeginForm("TankStorageReport", "StorageTank"))
                                                        {
                                                            <div class="portlet-body form">
                                                                <div class="form-body" style="background-color: white;">
                                                                    <div class="row" style="padding:20px">
                                                                        <center>
                                                                            <div class="col-md-4">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Location Name:</label>
                                                                                    @if (ViewBag.SelectedResource != null)
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList, ViewBag.SelectedResource), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @Html.DropDownList("resource", new SelectList(ViewBag.ResourceList), new { @class = "form-control", @style = "color:black;" })
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Date:</label>
                                                                                    @if (ViewBag.dateFrom != null)
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@ViewBag.dateFrom" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">Start Time:</label>
                                                                                    @if (ViewBag.timeFrom != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeFrom.ToString();
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>12:00 AM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeFrom" id="timeFromInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeFrom" id="timeFrom" class="form-control">
                                                                                            <option selected="selected">12:00 AM</option>
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @*
                                            <div class="col-md-1">
                                               <label class="form-control" style="border:0px">To</label>
                                            </div>
                                                                            *@
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Date:</label>
                                                                                    @if (ViewBag.dateTo != null)
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@ViewBag.dateTo" class="form-control date-picker" />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="dateTo" id="dateTo" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" class="form-control date-picker" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div style="margin-bottom: 15px">
                                                                                    <label style="margin-top: 1px; font-weight: 400; float:left;">End Time:</label>
                                                                                    @if (ViewBag.timeTo != null)
                                                                                    {
                                                                                        string abc = ViewBag.timeTo.ToString();
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                            <option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
                                                                                            <option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
                                                                                            <option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
                                                                                            <option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
                                                                                            <option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
                                                                                            <option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
                                                                                            <option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
                                                                                            <option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
                                                                                            <option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
                                                                                            <option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
                                                                                            <option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
                                                                                            <option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
                                                                                            <option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
                                                                                            <option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
                                                                                            <option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
                                                                                            <option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
                                                                                            <option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
                                                                                            <option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
                                                                                            <option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
                                                                                            <option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
                                                                                            <option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
                                                                                            <option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
                                                                                            <option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
                                                                                            <option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
                                                                                            <option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
                                                                                            <option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
                                                                                            <option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
                                                                                            <option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
                                                                                            <option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
                                                                                            <option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
                                                                                            <option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
                                                                                            <option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
                                                                                            <option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
                                                                                            <option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
                                                                                            <option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
                                                                                            <option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
                                                                                            <option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
                                                                                            <option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
                                                                                            <option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
                                                                                            <option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
                                                                                            <option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
                                                                                            <option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
                                                                                            <option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
                                                                                            <option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
                                                                                            <option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
                                                                                            <option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
                                                                                            <option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
                                                                                            <option value="11:59 PM" @if (abc == "11:59 PM") { <text> selected="selected" </text> }>11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="timeTo" id="timeToInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
                                                                                        <select name="timeTo" id="timeTo" class="form-control">
                                                                                            <option>12:30 AM</option>
                                                                                            <option>1:00 AM</option>
                                                                                            <option>1:30 AM</option>
                                                                                            <option>2:00 AM</option>
                                                                                            <option>2:30 AM</option>
                                                                                            <option>3:00 AM</option>
                                                                                            <option>3:30 AM</option>
                                                                                            <option>4:00 AM</option>
                                                                                            <option>4:30 AM</option>
                                                                                            <option>5:00 AM</option>
                                                                                            <option>5:30 AM</option>
                                                                                            <option>6:00 AM</option>
                                                                                            <option>6:30 AM</option>
                                                                                            <option>7:00 AM</option>
                                                                                            <option>7:30 AM</option>
                                                                                            <option>8:00 AM</option>
                                                                                            <option>8:30 AM</option>
                                                                                            <option>9:00 AM</option>
                                                                                            <option>9:30 AM</option>
                                                                                            <option>10:00 AM</option>
                                                                                            <option>10:30 AM</option>
                                                                                            <option>11:00 AM</option>
                                                                                            <option>11:30 AM</option>
                                                                                            <option>12:00 PM</option>
                                                                                            <option>12:30 PM</option>
                                                                                            <option>1:00 PM</option>
                                                                                            <option>1:30 PM</option>
                                                                                            <option>2:00 PM</option>
                                                                                            <option>2:30 PM</option>
                                                                                            <option>3:00 PM</option>
                                                                                            <option>3:30 PM</option>
                                                                                            <option>4:00 PM</option>
                                                                                            <option>4:30 PM</option>
                                                                                            <option>5:00 PM</option>
                                                                                            <option>5:30 PM</option>
                                                                                            <option>6:00 PM</option>
                                                                                            <option>6:30 PM</option>
                                                                                            <option>7:00 PM</option>
                                                                                            <option>7:30 PM</option>
                                                                                            <option>8:00 PM</option>
                                                                                            <option>8:30 PM</option>
                                                                                            <option>9:00 PM</option>
                                                                                            <option>9:30 PM</option>
                                                                                            <option>10:00 PM</option>
                                                                                            <option>10:30 PM</option>
                                                                                            <option>11:00 PM</option>
                                                                                            <option>11:30 PM</option>
                                                                                            <option selected="selected">11:59 PM</option>
                                                                                        </select>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 ">
                                                                                <div class="form-actions right">
                                                                                    <button type="submit" id="submit" class="btn btn-danger">
                                                                                        Update
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- END EXAMPLE TABLE PORTLET-->
                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div>
                                                <center>
                                                    <div id="chartContainer1" style="width: 95%; height: 500px"></div>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light ">
                                        <div class="portlet-body">


                                            <!-- DataTable Row -->

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                    <div class="portlet light bordered">
                                                        <div class="portlet-title">
                                                            <div class="caption font-dark">
                                                                <i class="icon-docs font-dark"></i>
                                                                <span class="caption-subject bold uppercase">Tank Storage Report</span>
                                                            </div>
                                                            <div class="tools"> </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <table class="table table-striped table-bordered table-hover" id="tbl" style="width:100%; text-align:center; border:0px !important">
                                                                <thead>
                                                                    <tr style="background-color: #a8c9cd;">
                                                                        <th>Sr. No.</th>
                                                                        <th>Location</th>
                                                                        <th>Status</th>
                                                                        @*<th>Current Water Level</th>*@
                                                                        <th>Current Water Storage (Imp. Gallons)</th>
                                                                        <th>Current Water Storage (Cubic ft)</th>
                                                                        <th>Current Water Storage (Liters)</th>
                                                                        <th>Net Flow Rate</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        if (item.SpellTimeArray.Count > 0)
                                                                        {
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td rowspan="5" style="padding-left:1em !important">@item.locationName</td>
                                                                                <td>Current Storage / Total Capacity</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(item.TankLevel2ft.FirstOrDefault()) * 89695.23), 2))) Gallons / 1,345,428 Gallons</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(item.TankLevel2ft.FirstOrDefault()) * 14400), 2))) Cubic ft / 216,000 Cubic ft</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(item.TankLevel2ft.FirstOrDefault()) * 407762.6), 2))) Liters / 6,116,439 Liters</td>
                                                                                <td>@ViewData["NetFlowRate"]</td>
                                                                            </tr>
                                                                            <tr style="background-color: #a8c9cd;">
                                                                                <td></td>
                                                                                <td style="display: none"></td>
                                                                                <td style="font-weight:bold" rowspan="2">Water Entering Details</td>
                                                                                <td>Water Entered (Imp. Gallons)</td>
                                                                                <td>Water Entered (Cubic ft)</td>
                                                                                <td>Water Entered (Liters)</td>
                                                                                <td>Intensity In ft/min</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="display: none"></td>
                                                                                <td style="display: none"></td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterInGallon"])), 2))) Gallons</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterInCubFt"])), 2))) Cubic ft</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterInLit"])), 2))) Liters</td>
                                                                                <td>@ViewData["SpellRateUp"]</td>
                                                                            </tr>
                                                                            <tr style="background-color: #a8c9cd;">
                                                                                <td></td>
                                                                                <td style="display: none"></td>
                                                                                <td style="font-weight:bold" rowspan="2">Water Extraction Details</td>
                                                                                <td>Water Extracted (Imp. Gallons)</td>
                                                                                <td>Water Extracted (Cubic ft)</td>
                                                                                <td>Water Extracted (Liters)</td>
                                                                                <td>Intensity Out ft/min</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="display: none"></td>
                                                                                <td style="display:none"></td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterOutGallon"])), 2))) Gallons</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterOutCubFt"])), 2))) Cubic ft</td>
                                                                                <td>@(String.Format("{0:n0}", Math.Round((Convert.ToDouble(ViewData["waterOutLit"])), 2))) Liters</td>
                                                                                <td>@Math.Abs(Convert.ToDouble(ViewData["SpellRateDown"]))</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td>Lawrence Road Storage Tank</td>
                                                                                <td>Status</td>
                                                                                @*<td>Inactive</td>*@
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                                <td>Inactive</td>
                                                                            </tr>
                                                                        }

                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <!-- END EXAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>*@

                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
@section scripts {
    <section class="scripts">

        <script type="text/javascript">
            window.onload = function ()
            {
                var jsonObj = @Html.Raw(ViewData["amChartData"]);
                am4core.ready(function () {
                    am4core.useTheme(am4themes_animated);
                    var chart = am4core.create("chartContainer1", am4charts.XYChart);
                    chart.paddingRight = 20;
                    chart.numberFormatter.numberFormat = "#' ft'";
                    let title = chart.titles.create();
                    title.text = "Storage Tank Level Timeline";
                    title.fontSize = 25;
                    title.marginBottom = 30;
                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.baseInterval = {
                        "timeUnit": "minute",
                        "count": 1
                    };
                    dateAxis.tooltipDateFormat = " d-MM-yyyy hh:mm:ss a";
                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;
                    //valueAxis.renderer.labels.template.disabled = true;
                    valueAxis.min = 0;
                    valueAxis.max = 16;

                    if (jsonObj.pumpStatus1.length === 0) { }
                    else
                    {
                        var series1 = chart.series.push(new am4charts.LineSeries());
                        var data1 = [];
                        //console.log(jsonObj[j].locationName);
                        for (var i = 0; i < jsonObj.SpellTimeArray.length; i++) {
                            var Thedate = jsonObj.SpellTimeArray[i];
                            var changeDate = moment(Thedate, 'DD/MM/YYYY HH:mm:ss A').format("MM/DD/YYYY HH:mm:ss");
                            var dateObj = new Date((changeDate));
                            var value = jsonObj.TankLevel2ft[i].toFixed(1);
                            var location = jsonObj.locationName;
                            data1.push({ location1: location, paramameter: 'Tank Level', date1: dateObj, value1: value });
                        }
                        series1.data = data1;
                        series1.dataFields.dateX = "date1";
                        series1.dataFields.valueY = "value1";
                        series1.dataFields.status1 = "status1";
                        series1.dataFields.location = "location1";
                        series1.tooltipText = " Tank Level: [bold]{valueY}[/] ";
                        series1.name = 'Lawrance Road Storage Tank';
                        series1.fillOpacity = 0.3;

                    }
                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.lineY.opacity = 0;

                    chart.legend = new am4charts.Legend();
                });
            }
        </script>
    </section>
}